*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
hr{
    background-color: blue;
    height: 5px;
}
.baggage{
    text-align: center;
}
.option{
    display: flex;
    align-items: center;
}
div.section-1 > div:nth-of-type(even) {
    background-color: #bbb4b4;
}
div.header-2 > div:first-child{
    background-color: blue;
    color: white;
}
div.header-3 > div:first-child{
    background-color: #a3c8e4;
}

.header-1 ,.icon,.footersection1{
    display: flex;
    justify-content: space-between;
}
.header-2 h3{
    padding: 0px 60px;
}
.footer-content div{
    padding: 4px;
}
.header-3 h3{
    padding: 0px 110px;
}
.rent{
    padding: 5px 7px;
}
.search{
    padding-top: 5px;
}

.btn{
    background-color: blue;
    cursor: pointer;
    padding: 5px;
    
}
.sign-up{
    padding: 3px 0px;
    width: 95%;
}
.size {
    text-align: center;
}
.blue{
    background-color: blue;
    color: white;
}
.footer-btn{
    background-color: blue;
    cursor: pointer;
    padding: 5px;
    margin-top: 39px;
}
.internal-footer, .phone-icon{
    display: flex;
}
.internal-footer-1 > div {
    padding: 5px 0px;
}
#language{
    margin-right: 15px;
}
.header-2{
    display: flex;
    justify-content: space-between;
    background-color:#a5a3a3;
    margin: 10px 0px;
    
}
.header-3{
    display: flex;
    justify-content: space-between;
    color: #9a9292;
    margin: 10px 0px;
   
}
.page-layout{
    padding: 0px 8rem;
    
}
.iternary{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer-1{
    background-color:#c7c7ef;
}

.footersection2{
    text-align: center;
    padding: 10px ;
}
.footer-content a{
    text-decoration: none;
}
.section{
    display: flex;
    width: 100%;
}
.info{
    padding: 10px;
}
 .section-1{
   width: 70%;
} 
.section-2{
    width: 30%;
 }
.section-2-Part1{
    background-color: #a3c8e4;
 }
.section-content{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
}

.combo {
    display: flex;
    justify-content: space-evenly;
}